* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

img {
    width: 100%;
    height: 75%;
}

#data-github {
    background-color: khaki;
}

.column-list {
    width: 20%;
    padding: 4px;
    margin-bottom: 10px;
}

p {
    display: block;
}